<!-- 页脚样式 -->
<div class="footer-image" id="footerStyle1" style="display: none;"></div>
<footer id="footerStyle2" style="display: none;">
    <footer-background>
        <figure class="clouds"></figure>
        <figure class="background"></figure>
        <figure class="foreground"></figure>
    </footer-background>
</footer>
<div class="footer-box">
    <!-- 标语 -->
    <div class="footer-text" style="display: ##textShow##">
        [ ##textLeft##
        <span class="footer-text-icon">
            <span class="iconfont ##iconFont##"
                style="color: ##iconColor##;font-size: ##iconSize##;"></span>
        </span>
        ##textRight## ]
    </div>
    <!-- 运行时间 -->
    <div>
        <span id="blogRunTimeSpan"></span>
        <span class="my-face">ღゝ◡╹)ノ♡</span>
    </div>
    <!-- 友情链接 -->
    <div id="linksHtml" style="display: ##linkShow##">##linksHtml##</div>
    <!-- CNZZ -->
    <div id="cnzzInfo" style="display: none;">
        ##cnzzHtml##
    </div>
    <!-- footerText -->
    <div>##footerText##</div>

</div>

<script type="text/javascript" src="//at.alicdn.com/t/c/font_3628204_br29bzmhrps.js" rel="prefetch"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/bootstrap/5.2.3/js/bootstrap.min.js" rel="prefetch"></script>
