#links-box {
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    margin: 5px;
    position: relative;
}

@media only screen and (max-width: 960px) {
    #links-box {
        grid-template-columns: repeat(2, 50%);
    }
}

@media only screen and (max-width: 720px) {
    #links-box {
        grid-template-columns: repeat(1, 100%);
    }
}

#links-box .links-item {
    width: 250px;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 10%), 0 1px 3px 0 rgb(93 100 148 / 13%);
    position: relative;
    padding: 0 6px;
    max-width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    margin: 10px 5px;
    color: rgba(107,114,128,1);
    cursor:pointer;
    justify-self: center;
}

#links-box .links-item:hover {
    transform: scale(1.04);
}

#links-box .links-item > img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: block;
    vertical-align: middle;
}

#links-box .links-item .links-info {
    margin-left: 10px;
    width: 180px;
}

#links-box .links-item .links-info .links-info-name {
    font-weight: bold;
    color: #777aaf;
    font-size: 18px;
    position: relative;
    top: -2px;
}

#links-box .links-item .links-info .links-info-text {
    font-style: oblique;
    font-size: 14px;
    font-family: ZCOOL XiaoWei,serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

#links-box .links-item .links-info span {
    display: block;
}

#links-box .links-item .links-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -8px;
    margin-top: -7px;
    align-items: center;
    display: flex;
    border-radius: 6px;
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
    box-shadow: 0 1px 7px 2px #c7c9d3;
    transition: .3s ease;
}

#links-box .links-item:nth-child(3n+0) .links-icon {
    background-color: rgba(52,211,153,1);
}

#links-box .links-item:nth-child(3n+1) .links-icon {
    background-color: rgba(167,139,250,1);
}

#links-box .links-item:nth-child(3n+2) .links-icon {
    background-color: #f87171;
}

#links-box .links-item .links-icon a {
    color: #fff;
    --transform-rotate: -45deg;
    transform: rotate(-45deg);
}

#links-box .links-item .links-icon a i.icon-zhifeiji {
    position: relative;
    top: 3px;
    left: 2px;
    font-size: 14px;
}

#links-box .links-item .links-icon a i.icon-like-fill,
#links-box .links-item .links-icon a i.icon-flashlight-fill {
    position: relative;
    top: 4px;
    left: 3px;
    font-size: 14px;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
